/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap");

/* font-family: "Inter", sans-serif; 
  font-family: "Mulish", sans-serif;
  font-family: "Sora", sans-serif;
*/

:root {
  /* ------ Colors ----- */

  --primary-color: #7041be;
  --white: #ffffff;
  --black: #000000;
  --black-500: #1d1f2c;
  --black-400: #4a4c56;

  --gardients: linear-gradient(#c467ec, #2e1888);

  /* Font Size */
  --fs-1: 64px;
  --fs-2: 48px;
  --fs-3: 24px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;
  --fs-7: 12px;

  /* Font Family */
  --font-inter: "Inter", sans-serif;
  --font-mulish: "Mulish", sans-serif;

  --transition-1: 0.3s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* ----------------- Custom Css ------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4 {
  font-size: var(--fs-4);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

section {
  width: 100%;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.text-gardinets {
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------- Top Navbar -------------------- */
.top_nav {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
}

.top_nav i {
  font-size: 14px;
}

.top_nav h6 {
  font-size: var(--fs-6);
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.top_nav_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email {
  border-left: 1px solid #d9d9d9;
  padding-left: 1rem;
}

/* ------------------- Main Navbar --------------------  */

.header .btn {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  z-index: 999;
}

.header .home__navabr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 20px;
  z-index: 9999;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper .nav__logo {
  position: absolute;
  top: 2rem;
}

.navbar .navbar-list {
  position: absolute;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
  padding-inline: 3px;
}

.navbar .navbar-list .navbar-link {
  display: block;
  font-size: var(--h3);
}

.nav-close-btn {
  transition: var(--transition-1);
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.nav-close-btn i {
  font-size: 30px;
  color: var(--black);
}

.navbar-link {
  color: var(--white);
  font-size: 20pt;
  transition: var(--transition-1);
  padding-left: -4rem;
}

header .start-btn {
  padding: 12px 23px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--fs-4);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  transition: var(--transition-2);
  outline: none;
}

header .start-btn:hover {
  border: 2px solid var(--white);
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
}

.nav-open-btn i {
  font-size: 22px;
  color: var(--primary-color);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--white);
  transition: var(--transition-2);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 992px) {
  .header {
    background-color: var(--white);
  }

  .nav-open-btn,
  .overlay,
  .navbar .wrapper {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar {
    margin-top: 18px;
  }

  .navbar .navbar-list {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .navbar .navbar-list .navbar-link {
    font-size: var(--fs-4);
    color: var(--black);
    font-family: "Inter", sans-serif;
  }

  .navbar .navbar-list .navbar-item .active {
    background: #1f107e;
    background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
    background: linear-gradient(to right, #1f107e, #c467ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contact-link {
    display: none;
  }

  .header .btn {
    display: inline-flex;
  }
}

.btn {
  margin: 0 auto;
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  color: var(--white);
  border: none;
  outline: none;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 250px;
  border-radius: 50px;
}

.btn:hover {
  color: var(--white);
  opacity: 0.9;
}

/* ------------------- Hero Section -------------------- */
.home_content {
  height: 650px;
  padding-top: 11rem;
  background: url("/assets/images/home-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
}

.home_content .home_title h1 {
  font-size: var(--fs-1);
  font-weight: bold;
  line-height: 110%;
  color: var(--black-500);
}

.home_content .home_article p {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  color: var(--black-400);
  font-size: var(--fs-4);
  width: 60%;
  margin: 0 auto;
}

.home_content .home_btn a {
  margin-bottom: 1.3rem;
  font-weight: 500;
  font-size: var(--fs-4);
  font-weight: 600;
}

.home_content .home_update_note p {
  font-size: var(--fs-7);
  font-family: var(--font-inter);
  color: var(--black-400);
}

/* ------------------- Date Section -------------------- */

.date {
  background: url("/assets/images/home-bg-2.png");
  background-size: cover;
  background-position-y: 80%;
}

.date_content {
  position: relative;
  height: 400px;
}

.date_top {
  margin: 0 auto;
  width: max-content;
  background: #d77dfe2a;
  padding: 12px 18px;
  border-radius: 8px;
}

.date_top .date_top-content:nth-child(2),
.date_top .date_top-content:nth-child(3) {
  border-left: 1px solid #5d3ed7;
  margin-left: 2rem;
  padding-left: 2rem;
}

.date_top .date_top-content img {
  width: 20px;
  height: 20px;
}

.date_top .date_top-content h4 {
  color: var(--black-500);
  font-size: var(--fs-4);
  font-family: var(--font-inter);
}

.date_bottom {
  position: absolute;
  bottom: -20rem;
  z-index: 99 !important;
}

.date_bottom img {
  margin: 0 auto;
  width: 80%;
}

/* ------------------- About Us Section -------------------- */

.about {
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  position: relative;
  padding-top: 30rem;
  padding-bottom: 8.75rem;
  overflow: hidden;
}

.about .shape .shape_one {
  position: absolute;
  top: -15rem;
  right: 0;
}

.about .shape .shape_two {
  position: absolute;
  bottom: -22rem;
  left: 0;
}

.about .shape img {
  width: 310px;
}

.about_content .about_headings,
.review_content .review_headings {
  text-align: center;
}

.about_content .about_headings .about_title,
.review_content .review_headings .review_title {
  font-size: var(--fs-7);
  font-family: var(--font-inter);
  color: var(--primary-color);
  background: var(--white);
  padding: 12px 24px;
  width: 130px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: default;
}

.about_content .about_headings .about_subtitle,
.review_content .review_headings .review_subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 60%;
  margin: 0 auto;
  font-size: var(--fs-2);
  font-weight: 500;
  color: var(--white);
}

.about_content .about_headings .about_article {
  width: 40%;
  margin: 0 auto;
  font-family: var(--font-inter);
  font-size: var(--fs-4);
  font-weight: 200;
  line-height: 26px;
}

.about_content .about_details {
  margin-top: 5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.about_content .about_details .about_details-box {
  width: 45%;
  background: #57545437;
  border: 1px solid #a5a5ab51;
  border-radius: 7px;
  padding-top: 22px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.about_content .about_details .about_details-box p {
  line-height: normal;
  border-left: 1px solid #a5a5ab;
  padding-left: 18px;
  font-size: var(--fs-4);
  font-family: var(--font-inter);
  line-height: 26px;
  font-weight: 300;
}

/* ------------------- Blog Section -------------------- */

.blog {
  padding-top: 8.75rem;
  padding-bottom: 3.5rem;
  background: url("/assets/images/blog-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog_headings .blog_title {
  font-size: var(--fs-7);
  font-family: var(--font-inter);
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  padding: 12px 24px;
  width: 140px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: default;
}

.blog_headings .blog_subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  font-size: var(--fs-2);
  font-weight: 700;
  color: var(--black-500);
}

.blog_headings .blog_article {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-family: var(--font-inter);
  font-size: var(--fs-4);
  font-weight: 200;
  line-height: 26px;
  color: var(--black-500);
}

.blog_container {
  padding-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.blog_container .blog_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 31.5%;
  height: 489px;
  gap: 32px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 1px 2px 2px #a5a5ab3b;
}

.blog_container .blog_box img {
  object-fit: cover;
}

.blog_container .blog_box h3 {
  font-size: var(--fs-3);
  font-weight: bold;
  color: var(--black-500);
  line-height: 120%;
}

.blog_container .blog_box p {
  color: var(--black-400);
  font-family: var(--font-mulish);
  font-size: var(--fs-4);
}
/* ------------------- Wishlist Section -------------------- */

.wishlist_container {
  background: url("/assets/images/wishlist-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--white);
}

.wishlist_content {
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.wishlist_container .wishlist_title h3 {
  font-size: var(--fs-3);
  font-weight: 600;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.5%;
  line-height: 140%;
}

.wishlist_content .wishlist_title h3 {
  font-size: 40px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  line-height: 130%;
}

.wishlist_container .wishlist_btn .btn {
  background: transparent;
  padding: 18px 30px;
  width: 300px;
  border: 2px solid var(--white);
  font-size: var(--fs-4);
  font-weight: 600;
}

.wishlist_content .btn {
  padding: 18px 30px;
  width: 300px;
  border: 2px solid var(--white);
  font-size: var(--fs-4);
  font-weight: 600;
}

/* ------------------- client cycle Section -------------------- */

.client_cycle {
  padding: 8.75rem 0;
  height: 80vh;
}
/* ------------------- Review Section -------------------- */
.review {
  padding: 8.75rem 0;
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
}

.review_headings {
  padding-bottom: 80px;
}

.client_feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.client_feedback .feedback_container {
  background: #57545447;
  border: 1px solid #e9e9ea3c;
  width: 23.5%;
  color: var(--white);
  border-radius: 16px;
  padding: 24px;
  height: 242px;
}

.client_feedback .feedback_container .quotes img {
  width: 24px;
  padding-bottom: 5px;
}

.client_feedback .feedback_container .feedback p {
  font-family: var(--font-inter);
  font-size: var(--fs-5);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5%;
}

.client_feedback .feedback_container .client_details {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 24px;
}

.client_feedback .feedback_container .client_details .client_img {
  width: 42px;
  height: 42px;
}

.client_feedback .feedback_container .client_details .client_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client_feedback
  .feedback_container
  .client_details
  .client_name_position
  .name {
  font-family: var(--font-inter);
  font-size: var(--fs-5);
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.5%;
}

.client_feedback
  .feedback_container
  .client_details
  .client_name_position
  .position {
  font-family: var(--font-inter);
  font-size: var(--fs-7);
  font-weight: 400;
  line-height: 132%;
  letter-spacing: 0.5%;
}

/* ------------------- Benefits Section -------------------- */

.benefits {
  padding: 8.75rem 0;
  background: url("/assets/images/benefit-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.benefits_content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.benefits_headings {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.benefits_headings .left_headings p {
  font-family: var(--font-inter);
  font-size: var(--fs-7);
  letter-spacing: 0.5%;
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  width: 120px;
  color: var(--white);
  text-align: center;
  padding: 10px;
  border-radius: 50px;
}

.benefits_headings .left_headings h2 {
  font-size: var(--fs-2);
  font-weight: 700;
  line-height: 120%;
  width: 85%;
  color: #1d1f2c;
}

.benefits_headings .right_article p {
  font-family: var(--font-inter);
  font-size: var(--fs-4);
  line-height: 26px;
  color: #1d1f2c;
  width: 90%;
}

.benefit_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  color: var(--black-500);
}

.benefit_box {
  background-color: var(--white);
  padding: 32px;
  height: 340px;
  border-radius: 16px;
  width: 31.5%;
}

.benefit_box .benefit_img {
  height: 80px;
  width: 80px;
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit_box .benefit_img img {
  width: 32px;
}

.benefit_box h3 {
  padding-top: 24px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: var(--fs-3);
  line-height: 120%;
  letter-spacing: 0.5%;
  width: 95%;
}

.benefit_box p {
  color: var(--black-400);
  font-family: var(--font-mulish);
  font-size: var(--fs-4);
  line-height: 150%;
}

/* ------------------- Problem & Solution Section --------------------  */

.ps {
  padding-bottom: 8.75rem;
}

.ps_headings .ps_title {
  font-size: var(--fs-7);
  font-family: var(--font-inter);
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  padding: 12px 24px;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: default;
}

.ps_headings .ps_subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 65%;
  text-align: center;
  margin: 0 auto;
  font-size: var(--fs-2);
  font-weight: 700;
  color: var(--black-500);
}

.ps_container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left-box,
.right_box {
  width: 50%;

  padding: 32px;
  border: 1px solid #a5a5ab4f;
  border-radius: 16px;
  gap: 12px;
}

.left-box ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-top: 24px;
}

.left-box ul li {
  list-style-type: decimal;
}

.left-box h3 {
  font-size: var(--fs-3);
  font-weight: 700;
  letter-spacing: 0.5%;
  color: var(--black-500);
}

.left-box ul li p {
  font-size: var(--fs-4);
  font-family: var(--font-inter);
  line-height: 26px;
  color: var(--black-500);
}

.right_box .right_box_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.right_box .right_box_content img {
  height: 20px;
  width: 20px;
}

.right_box .right_box_content p {
  color: var(--black-500);
  font-size: var(--fs-4);
  font-family: var(--font-inter);
  line-height: 26px;
  margin-top: -0.2rem;
}

/* ------------------- Question Section -------------------- */

.accordion_section {
  padding-bottom: 7rem;
  background: url("/assets/images/Q&A-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.accordion_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  height: 682px;
}

.accordion_headings,
.accordion {
  width: 50%;
}

.accordion_headings .accordion_title {
  margin-top: 1rem;
  font-size: var(--fs-7);
  font-family: var(--font-inter);
  color: var(--white);
  background: #1f107e;
  background: -webkit-linear-gradient(to right, #1f107e, #c467ec);
  background: linear-gradient(to right, #1f107e, #c467ec);
  padding: 12px 24px;
  width: 220px;
  text-align: center;
  border-radius: 50px;
  cursor: default;
}

.accordion_headings .accordion_subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 75%;
  font-size: var(--fs-2);
  font-weight: 600;
  line-height: 120%;
  color: var(--black-500);
}

.accordion_headings .accordion_article {
  width: 80%;
  font-family: var(--font-inter);
  font-size: var(--fs-4);
  line-height: 26px;
  color: var(--black-400);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem 0;
}


.accordion-item {
  padding: 16px 32px;
  border-radius: 16px;
}

.accordion-button {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  padding: 16px 0;
  color: var(--black-500);
  font-family: var(--font-inter);
  line-height: 16px;
  font-size: var(--fs-4);
  font-weight: 500;
}

.accordion-button:active{
  outline: none !important;
  border: none !important;
}

.card-body p {
  margin-top: 1.5rem;
  font-family: var(--font-inter);
  font-size: var(--fs-6);
  line-height: 140%;
  letter-spacing: 0.5%;
  color: var(--black-400);
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16'  xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
/* ------------------- Wishlist Section -------------------- */
/* ------------------- Footer -------------------- */
/* ------------------- Copyright -------------------- */
